.ui_button{
    font-size: 15px;
    border: 1px solid #21d4fd;
    color: #21d4fd;
    border-radius: 10px;
    line-height: 1.2;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 80px;
    margin-bottom: 70px;

}

.ui_button:hover{
    cursor: pointer;
    background-color: #21d4fd;
    color: #333;
}

.red{
    background-color: red;
    
}


.blue{
    background-color: blue ;
}